<div class="product-sidebar" id="product-sidebar">
{{ $currentNode := . }}
{{ range .Site.Menus.influxdb }}
    <div class="product-sidebar--section-title">
        <a class="product-sidebar--nav-item{{if or ($currentNode.IsMenuCurrent "influxdb" .) ($currentNode.HasMenuCurrent "influxdb" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
    </div>
    {{ if .HasChildren }}
    <section class="product-sidebar--section">
        {{ range .Children }}
        <a class="product-sidebar--page{{if $currentNode.IsMenuCurrent "influxdb" . }} active{{end}} active" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </section>
    {{end}}
{{end}}
</div>
