{{ if not (or (in .RelPermalink .Site.Data.default_versions.enterprise_kapacitor_semver) (eq .RelPermalink "/enterprise_kapacitor/")) }}
<div class="old-version">
    <strong>Warning!</strong> This page documents an earlier version of Kapacitor Enterprise, which is no longer actively developed. <a href="/enterprise_kapacitor/{{ .Site.Data.default_versions.enterprise_kapacitor_semver }}/{{ if isset .Params "newversionredirect" }}{{ .Params.newversionredirect }}{{else}}{{ substr .RelPermalink (len (index (findRE "^/.*?/+.*?/" .RelPermalink) 0)) }}{{end}}">"Kapacitor Enterprise" {{ .Site.Data.default_versions.enterprise_kapacitor_semver }}</a> is the most recent stable version of Kapacitor Enterprise.
</div>
{{ end }}
