{{ if not (or (in .RelPermalink .Site.Data.default_versions.cloud_semver) (eq .RelPermalink "/cloud/")) }}
<div class="old-version">
{{ if in .RelPermalink "v1.0"}}
    <strong>Warning!</strong> This page documents an old version of Influxcloud, which is no longer actively developed. <a href="/cloud/{{ .Site.Data.default_versions.cloud_semver }}/{{ if isset .Params "newversionredirect" }}{{ .Params.newversionredirect }}{{else}}{{ substr .RelPermalink 16 }}{{end}}">InfluxEnteprise {{ .Site.Data.default_versions.cloud_semver }}</a> is the most recent stable version of Influxcloud.
{{ end }}
</div>
{{ end }}
