{{ partial "header.html" . }}
<div class="page-content" id="page-content">
    {{ if .Title }}
	<div class="page-title" id="page-title">
	    <div class="page-title--toggle" id="page-title--toggle"><i class="icon arrow-right"></i></div>
	    <div class="page-title--name">{{ .Title }}</div>
	</div>
	{{ end }}
	<div class="page-content--container">
        {{ partial "influxdb/version.html" . }}
        {{ .Content }}
        {{ partial "influxdb/contribute.html" . }}
    </div>
</div>
{{ partial "influxdb/sidebar.html" . }}
{{ partial "footer.html" . }}
