.influx-search {
	position: absolute;
	display: block;
	position: absolute;
	height: 2.5rem;
	width: calc(100% - 2.75rem - 10rem);
	right: 2.75rem;
	left: 10rem;
	z-index: 100;
}
.influx-search--field {
	height: 100%;
	line-height: 2.5rem;
	width: 100%;
	display: block;
	border: none;
	padding: 0 1rem 0 2.5rem;
	outline: none;
	transition: all 0.3s ease;
	color: #575E6B;
	font-weight: 500;
	background-color: #E6E9EC;
	text-align: left;
	font-size: 1rem;
}
.influx-search--field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: 'Klavika-Light','Helvetica Neue', 'Helvetica', Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-weight: 500;
	color: #8F97A1;
}
.influx-search--field::-moz-placeholder { /* Firefox 19+ */
	font-family: 'Klavika-Light','Helvetica Neue', 'Helvetica', Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-weight: 500;
	color: #8F97A1;
}
.influx-search--field:-ms-input-placeholder { /* IE 10+ */
	font-family: 'Klavika-Light','Helvetica Neue', 'Helvetica', Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-weight: 500;
	color: #8F97A1;
}
.influx-search--field:-moz-placeholder { /* Firefox 18- */
	font-family: 'Klavika-Light','Helvetica Neue', 'Helvetica', Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-weight: 500;
	color: #8F97A1;
}
.influx-search--field:focus {
	background-color: #EEF0F2;
	color: #4591ED;
}

.algolia-autocomplete {
	display: inline-block !important;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	position: relative;
	line-height: 2rem;
}
.algolia-autocomplete:after {
	font-family: 'icomoon';
	content: "\e98a";
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	font-size: 1rem;
}
/* Dropdown container */
.aa-dropdown-menu {
	box-sizing: border-box;
	position: absolute;
	width: calc(100% + 2.75rem + 10rem);
	background-color: #373D49;
	border: 2px solid #454C59 !important;
	padding: 0;
	font-size: 1rem;
	left: -10rem !important;
	margin: 0;
}
/* Bottom border of each suggestion */
.algolia-docsearch-suggestion {
  border-bottom-color: #f00;
}
/* Main category headers */
.algolia-docsearch-suggestion--category-header {
	font-family: 'Klavika-Light','Helvetica Neue', 'Helvetica', Helvetica, Arial, Tahoma, Verdana, sans-serif;
	background-color: #454C59;
	border: none !important;
	padding: 0 0 0 1em !important;
	height: 2.5em !important;
	font-size: 1.25em;
	line-height: 2.5em;
	font-weight: 600;
	color: #D7DCE0;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
	color: #4591ED;
	font-weight: 900 !important;
}
/* Highligted search terms in the main category headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
	font-family: 'Klavika-Bold','Helvetica Neue', 'Helvetica', Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-weight: 900;
	background-color: transparent;
	padding: 0;
	color: #fff;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
	color: inherit;
}
.aa-cursor .algolia-docsearch-suggestion {
	background: #575E6B;
	color: #FFF;
}
.algolia-docsearch-suggestion {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 1.125em;
	border-bottom: 2px solid #454C59;
	color: #9AA2AB;
	transition:
		color 0.3s ease,
		background-color 0.3s ease;
}
/* Footer of dropdown with logo in it */
.algolia-docsearch-footer {
	border: none !important;
	background-color: #2C323D;
	height: 4em;
	line-height: 4em !important;
	padding: 0 1em 0 0 !important;
	margin: 0!important;
	color: #575E6B;
	border-radius: 0;
}
/* Left column, with secondary category header */
.algolia-docsearch-suggestion--subcategory-column {
	border: none !important;
	background-color: #2C323D;
	color: #8F97A1;
	font-size: 0.875em;
	font-weight: 600;
	display: none;
}

/*
	+----------------------------+
	|  Responsive Breakpoint	 |
	+----------------------------+
*/
@media (min-width: 925px) {
	.influx-search {
		position: absolute;
		display: block;
		position: absolute;
		height: 3.25rem;
		width: calc(100% - 19rem);
		right: 0rem;
		left: initial;
		z-index: 100;
	}
	.influx-search--field {
		padding: 0 1.125rem 0 3rem;
		font-size: 1.25rem;
		font-family: 'Klavika-Bold';
		font-weight: 500;
		line-height: 3.25rem;
	}
	.aa-dropdown-menu {
		width: 100%;
		left: 0 !important;
	}
	.algolia-autocomplete:after {
		width: 3.25rem;
		height: 3.25rem;
		line-height: 3.25rem;
		font-size: 1.125rem;
	}
}

/*
	+----------------------------+
	|  Responsive Breakpoint	 |
	+----------------------------+
*/
@media (min-width: 1600px) {
	.influx-search {
/*		position: absolute;
		display: block;
		position: absolute;
		height: 3.25rem;*/
		width: calc(100% - 26rem);
/*		right: 0rem;
		left: initial;
		z-index: 100;*/
	}
}