/*
	Docs Text Formatting
*/
a:link,
a:active,
a:visited {
	text-decoration: none;
	font-weight: 700;
	color: #4591ED;
	transition: color 0.2s ease;
}
a:hover {
	color: #00C9FF;
	cursor: pointer;
}

.page-content--container {
	color: #BEC4CC;
}
.page-content--container > * {
	text-decoration: none;
}
.page-content--container hr {
	width: 100%;
	height: 2px;
	background-color: #2C323D;
	margin: 0 0 3em 0;
	border: none;
	display: block;
}
.page-content--container h1,
.page-content--container h2,
.page-content--container h3,
.page-content--container h4 {
	color: #F5F6F7;
}
.page-content--container h1 {
	font-size: 3.5em;
	font-weight: 100;
	margin-bottom: 1.5em;
}
.page-content--container h2 {
	font-size: 1.75em;
	font-weight: 700;
	padding-bottom: 0.5em;
	margin-top: 3em;
	margin-bottom: 0.5em;
	border-bottom: 2px solid #2C323D;
	line-height: 1.375em;
}
.page-content--container h3 {
	font-size: 1em;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
.page-content--container h4 {
	font-size: 1em;
	margin-bottom: 0.5em;
}
.page-content--container h1:first-of-type,
.page-content--container h2:first-of-type,
.page-content--container h3:first-of-type,
.page-content--container h4:first-of-type {
	margin-top: 0;
}
.page-content--container p {
	line-height: 1.75em;
	margin-bottom: 2.75em;
}
.page-content--container p + pre {
	margin-top: -2.375em;
}
.page-content--container ul {
	list-style-type: disc;
}
.page-content--container ol {
	list-style-type: upper-roman;
}
.page-content--container ol,
.page-content--container ul {
	padding-left: 2.625em;
	margin-bottom: 3em;
}
.page-content--container ul ul,
.page-content--container ol ol,
.page-content--container ul ol,
.page-content--container ol ul {
	margin-top: 1.25em;
}
.page-content--container li {
	line-height: 1.75em;
	margin-bottom: 1em;
	padding-left: 1em;
}
.page-content--container li p + pre {
	margin-top: 0em;
}
.page-content--container blockquote {
	color: #3AC69A;
	font-style: italic;
	padding: 1em 1.5em;
	border-left: 0.875rem solid #3AC69A;
	border-radius: 3px;
	margin-bottom: 2.5em;
	background-color: #262B35;
	font-size: 0.875em;
}
.page-content--container blockquote p {
	line-height: 1.5em;
	font-size: inherit;
	width: 100%;
	margin-left: 0;
	margin-bottom: 1em;
}
.page-content--container blockquote pre {
	margin: 0 0 1em 0;
	border-left: 1px;
}
.page-content--container blockquote li {
	margin-bottom: 0.5em;
}
.page-content--container blockquote > *:last-child {
	margin-bottom: 0;
}
.page-content--container figure {
	margin: 2em 0;
}
.page-content--container figcaption {
	color: #444;
	font-size: 0.75em;
	font-style: italic;
	line-height: 1.5em;
	margin-bottom: 1em;
	padding: 0 2em 0.5em;
	text-align: center;
}

.page-content--container dt {
	font-size: 0.875em;
	background-color: #262B35;
	padding: 1em 1em 1em 3em;
	border-radius: 3px;
	border-left: 0.875rem solid #F95F53;
	position: relative;
	color: #FF8564;
	line-height: 1.3em;
}
.page-content--container dt:after {
	content: '🚨';
	display: block;
	position: absolute;
	top: 1em;
	left: 1em;
	color: #8e7e59;
}
.page-content--container img {
	width: 100%;
	height: auto;
	border-radius: 4px;
}
.page-content--container table {
	background-color: #1F242D;
	margin: 0px 0px 3em 1.5rem;
}

.page-content--container td,
.page-content--container th {
	border: 1px solid #262B35;
	font-size: 0.875em;
	padding: 0.75em 1.5em;
}

.page-content--container tr:nth-child(even) {
	background-color: #181C23;
}
.page-content--container thead tr {
	background-color: #262B35 !important;
}
.page-content--container thead th {
	padding: 1.25em 1.5em;
	color: #BEC4CC;
}

/* Code blocks */
.page-content--container code {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
	-moz-tab-size: 1;
	-o-tab-size: 1;
	tab-size: 1;
	color: #9394FF;
	direction: ltr;
	text-align: left;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	font-size: 0.75em !important;
	font-style:normal !important;
	display: inline;
	border-radius: 3px;
	border: 1px solid #262B35;
	background-color: #181C23;
	padding: 0.25em 0.5em;
	position: relative;
	top:-0.1em;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-moz-osx-font-smoothing: auto !important;
	font-weight: 400 !important;
}
.page-content--container pre {
	padding: 0.75em 1em;
	overflow: auto;
	border-radius: 3px;
	border: 1px solid #262B35;
	border-left-width: 0.875rem;
	background-color: #181C23;
	margin-bottom: 2.5em;
}
.page-content--container pre::-webkit-scrollbar              { background-color: #181C23; width: 1rem; }
.page-content--container pre::-webkit-scrollbar-track        { background-color: #181C23; }
.page-content--container pre::-webkit-scrollbar-thumb        { border: 4px solid #181C23; background-color: #262B35; border-radius: 0.5rem; }

.page-content--container pre code {
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5em;
	border: none;
	padding: 0;
	border-radius: 0;
	background-color: transparent;
}

/* Indented items */
.page-content--container dt,
.page-content--container blockquote,
.page-content--container pre,
.page-content--container h4,
.page-content--container p {
	width: calc(100% - 1.5rem);
	margin-left: 1.5rem;
}



/*

	Media Queries
	________________________________________________________________________________________________________________

*/

@media screen and (min-width: 1550px) {
	.page-content--container {
		font-size: 1.125rem;
	}
	/* Indented items */
	.page-content--container dt,
	.page-content--container blockquote,
	.page-content--container pre,
	.page-content--container h4,
	.page-content--container p {
		width: calc(100% - 3.5rem);
		margin-left: 3.5rem;
	}
}
@media screen and (min-width: 1800px) {
	.page-content--container {
		font-size: 1.25rem;
	}
	.page-content--container code,
	.page-content--container pre {
		border-width: 2px;
	}
}
