/*
	InfluxData.com Developer Documentation
	--------------------------------------
	Theme file for Chronograf Docs
*/

.product-switcher--current,
.product-sidebar--section-title {
	color: #fff;
}
.product-switcher--toggle {
	color: #fff;
}
.product-switcher {
	background-color: #7A65F2;
}
a.product-sidebar--nav-item,
a.product-sidebar--nav-item:hover {
	color: #7A65F2;
}
.page-title {
	background-image: url(../../img/page-title__chronograf.jpg);
}
a.ad-cta:link,
a.ad-cta:visited,
a.ad-cta:active {
	background-color: #3AC69A;
}
a.ad-cta:hover {
	background-color: #7CE490;
}
.influx-search--field:focus,
.algolia-docsearch-suggestion--highlight {
	color: #9394FF !important;
}

@media (min-width: 925px) {
	.product-switcher:hover,
	.product-switcher.show,
	.product-switcher--menu {
		background-color: #9394FF;
	}
}