/*
	InfluxData.com Developer Documentation
	--------------------------------------
	Theme file for Chronograf Docs
*/
.product-switcher--current,
.product-sidebar--section-title {
	color: #4ED8A0;
	background: #4ED8A0;
	background: -moz-linear-gradient(left,  #4ED8A0 0%, #AAEF81 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4ED8A0), color-stop(100%,#AAEF81));
	background: -webkit-linear-gradient(left,  #4ED8A0 0%,#AAEF81 100%);
	background: -o-linear-gradient(left,  #4ED8A0 0%,#AAEF81 100%);
	background: -ms-linear-gradient(left,  #4ED8A0 0%,#AAEF81 100%);
	background: linear-gradient(to right,  #4ED8A0 0%,#AAEF81 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ED8A0', endColorstr='#AAEF81',GradientType=1 );

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.product-switcher--toggle {
	color: #AAEF81;
}
.page-title {
	background: #4ED8A0;
}