/*
	InfluxData.com Developer Documentation
	--------------------------------------
	Theme file for InfluxDB Docs
*/

.product-switcher--current,
.product-sidebar--section-title {
	color: #4591ED;
}
.product-switcher--toggle {
	color: #00C9FF;
}
.page-title {
	background: #4591ed;
}