{{ partial "header.html" . }}
<div class="page" id="page-content">
    {{ if .Title }}
    <div class="page--title" id="page-title">
        <div class="page--body">default/section{{ .Title }}</div>
    </div>
    {{ end }}
    <div class="page--body">
        {{ range .Data.Pages.GroupBy "Section" }}
        <h3>{{ .Key }}</h3>
        <ul>
            {{ range .Pages }}
                {{ .Render "list"}}
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}
