{{ partial "header.html" . }}
{{ if .Title }}
<div class="page-title" id="page-title">
    <div class="page-title--toggle" id="page-title--toggle"><i class="icon arrow-right"></i></div>
    <div class="page-title--name">{{ .Title }}</div>
</div>
{{ end }}
<div class="page-content" id="page-content">
    <div class="page-content--container">
        {{ range .Data.Pages.GroupBy "Section" }}
        <h3>{{ .Key }}</h3>
        <ul>
            {{ range .Pages }}
                {{ .Render "list"}}
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
{{ partial "footer.html" . }}
