<div class="sidebar--toggle" id="sidebar--toggle">Chronograf Contents</div>
<aside class="sidebar" id="sidebar">
  <section class="sidebar--section">
    {{ partial "support-ad.html" . }}
  </section>
  {{ $currentNode := . }}
  {{ range .Site.Menus.chronograf }}
    {{ if (in $currentNode.Permalink .URL) }}
      {{ range (index $.Site.Menus .Identifier) }}
        <section class="sidebar--section">
          <div class="sidebar--section-title">
            <a class="{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
          </div>

          {{ if .HasChildren }}
            <ul>
            {{ range .Children }}
              {{ if .HasChildren }}
                <li>
                  <a class="sidebar--children-toggle {{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}open{{end}}" href="#"></a>
                  <a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
                  <ul class="sidebar--children {{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}open{{end}}">
                      {{ range .Children }}

                        {{ if .HasChildren }}
                          <li>
                            <a class="sidebar--children-toggle {{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}open{{end}}" href="#"></a>
                            <a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
                            <ul class="sidebar--children {{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}open{{end}}">
                                {{ range .Children }}

                                  {{ if .HasChildren }}
                                    <li>
                                      <a class="sidebar--children-toggle {{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}open{{end}}" href="#"></a>
                                      <a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
                                      <ul class="sidebar--children {{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}open{{end}}">
                                          {{ range .Children }}
                                            <li><a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a></li>
                                          {{ end }}
                                      </ul>
                                    </li>
                                  {{ else }}
                                    <li><a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a></li>
                                  {{ end }}

                                {{ end }}
                            </ul>
                          </li>
                        {{ else }}
                          <li><a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}

                      {{ end }}
                  </ul>
                </li>
              {{ else }}
                <li><a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
            </ul>
          {{ end }}

        </section>
      {{end}}
    {{end}}
  {{end}}
  <section class="sidebar--section">
    <div class="sidebar--section-title">
      <a href="/chronograf/">Chronograf versions</a>
    </div>
    <ul>
      {{ range sort .Site.Menus.chronograf }}
      <li><a class="sidebar--page{{ if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a></li>
      {{end}}
    </ul>
  </section>
</aside>
