{{ if in .RelPermalink .Site.Data.default_versions.enterprise_influxdb_semver }}
<section class="article-section article-footer">
	<div class="article-content">
		<p><span class="icon logo" style="margin-right: 1em;"></span> This documentation is <a href="https://github.com/influxdata/docs.influxdata.com/blob/master/content/{{ .File.Path }}">open source</a>. See a typo? Please, open an <a href="https://github.com/influxdata/docs.influxdata.com/issues/new">issue</a>.</p>
		<br/>
		<p><span class="icon bubbles2" style="margin-right: 1em;"></span><strong>Need help getting up and running?</strong> <a href="https://influxdata.com/pricing/#product-subscriptions" target="_blank">Get Support</a></p>
	</div>
</section>
{{ end }}
