<nav class="main-nav" id="main-nav">
    <a hef="#" target="_blank" title="Return to influxdata.com"><img src="/img/logo.svg" class="main-nav--logo" /></a>
    <div class="main-nav--hamburger" id="main-nav--hamburger">
        <div class="main-nav--hamburger-bar top"></div>
        <div class="main-nav--hamburger-bar middle"></div>
        <div class="main-nav--hamburger-bar bottom"></div>
    </div>
</nav>
<nav class="main-nav--links" id="main-nav--links">
    <a class="main-nav--link" href="#">Why use Influx?</a>
    <a class="main-nav--link" href="#">Platform</a>
    <a class="main-nav--link" href="#">Services</a>
    <a class="main-nav--link" href="#">Pricing</a>
</nav>
