<nav class="navbar" id="main-nav">
    <div class="navbar--logo">
      <a href="https://www.influxdata.com/"  target="_blank" title="Go to InfluxData">
        <span class="icon logo"></span>
        <span class="icon logotype"></span>
      </a>
      <span class="divider"></span>
      <a href="/" class="navbar--docs klavika-font" title="Go to Documentation Homepage">Docs</span></a>
    </div>
    {{ partial "product-switcher.html" . }}
    {{ partial "search.html" . }}
    {{ partial "theme-switcher.html" . }}
</nav>
