{{ if not .IsHome }}
{{ $currentNode := . }}
<div class="navbar--hamburger" id="navbar--hamburger">
    <div class="navbar--hamburger-bar top"></div>
    <div class="navbar--hamburger-bar middle"></div>
    <div class="navbar--hamburger-bar bottom"></div>
</div>
<div class="navbar--product-dropdown" id="navbar--dropdown">
    <div class="navbar--current-product">{{$current := . }}
{{ if not (or .IsHome .IsNode) }}
{{ range $product := .Site.Menus.products }}
{{ range $version := (index $.Site.Data.versions $product.Identifier) }}
{{ if in $current.RelPermalink (print "/" $product.Identifier "/" $version) }}
{{$product.Name}} {{$version}}
{{end}}
{{end}}
{{end}}
{{end}}</div>
    <div class="navbar--product-dropdown-caret"><span class="icon arrow-down"></span></div>
</div>
<div class="navbar--product-container" id="navbar--product-container">
    <div class="navbar--dropdown-dismiss" id="navbar--dropdown-dismiss"></div>
    <ul class="navbar--product-menu" id="navbar--product-menu">
        {{ range .Site.Menus.products }}
          {{ if or (in .Identifier "telegraf") (in .Identifier "influxdb") (in .Identifier "chronograf") (in .Identifier "kapacitor") (in .Identifier "enterprise_influxdb") (in .Identifier "enterprise_kapacitor") }}
            <li><a class="navbar--product{{if or ($currentNode.IsMenuCurrent "products" .) ($currentNode.HasMenuCurrent "products" .) }} active{{end}}" href="{{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
        <li class="navbar--product-divider"></li>
        <li><a class="navbar--product external" href="https://influxdata.com/use-cases/" target="_blank">&#9658;&nbsp; See how the TICK Stack is used</a></li>
        <li><a class="navbar--product external" href="https://influxdata.com/pricing/" target="_blank">&#9658;&nbsp; Need help using our stack?</a></li>
    </ul>
</div>
{{ else }}
{{ $currentNode := . }}
<div class="navbar--hamburger" id="navbar--hamburger">
    <div class="navbar--hamburger-bar top"></div>
    <div class="navbar--hamburger-bar middle"></div>
    <div class="navbar--hamburger-bar bottom"></div>
</div>
<div class="navbar--product-dropdown" id="navbar--dropdown">
    <div class="navbar--current-product">Select a product</div>
    <div class="navbar--product-dropdown-caret"><span class="icon arrow-down"></span></div>
</div>
<div class="navbar--product-container" id="navbar--product-container">
    <div class="navbar--dropdown-dismiss" id="navbar--dropdown-dismiss"></div>
    <ul class="navbar--product-menu" id="navbar--product-menu">
        {{ range .Site.Menus.products }}
          {{ if or (in .Identifier "telegraf") (in .Identifier "influxdb") (in .Identifier "chronograf") (in .Identifier "kapacitor") (in .Identifier "enterprise_influxdb") (in .Identifier "enterprise_kapacitor") }}
            <li><a class="navbar--product{{if or ($currentNode.IsMenuCurrent "products" .) ($currentNode.HasMenuCurrent "products" .) }} active{{end}}" href="{{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
        <li class="navbar--product-divider"></li>
        <li><a class="navbar--product external" href="https://influxdata.com/use-cases/" target="_blank">&#9658;&nbsp; See how the TICK Stack is used</a></li>
        <li><a class="navbar--product external" href="https://influxdata.com/pricing/" target="_blank">&#9658;&nbsp; Need help using our stack?</a></li>
    </ul>
</div>
{{ end }}
