{{ if not .IsHome }}
{{ $currentNode := . }}
<div class="product-switcher--container" id="product-switcher--container">
    <div class="product-switcher--dismiss" id="product-switcher--dismiss"></div>
    <nav class="product-switcher--menu" id="product-switcher--menu">
        {{ range .Site.Menus.products }}
        <a class="product-switcher--item{{if or ($currentNode.IsMenuCurrent "products" .) ($currentNode.HasMenuCurrent "products" .) }} active{{end}}" href="{{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/">{{ .Name }}</a>
        {{ end }}
        <div class="product-switcher--divider"></div>
        <a class="product-switcher--item smaller" href="https://influxdata.com/use-cases/" target="_blank">Use Cases</a>
        <a class="product-switcher--item smaller" href="https://influxdata.com/pricing/" target="_blank">Get Support!</a>
    </nav>
</div>
{{ range .Site.Menus.products }}
{{ if eq .Identifier $currentNode.Section }}
<div class="product-switcher" id="product-switcher">
    <div class="product-switcher--current">{{ .Name }}
        {{ range (index $.Site.Menus .Identifier) }}
        {{ if or ($currentNode.IsMenuCurrent $currentNode.Section .) ($currentNode.HasMenuCurrent $currentNode.Section .) }} <span>{{ .Name }}</span>{{end}}
        {{end}}
    </div>
    <div class="product-switcher--toggle"><i class="icon arrow-down"></i></div>
</div>
{{ end }}
{{ end }}
{{ end }}
