{{ $currentNode := . }}
<div class="navbar--hamburger" id="navbar--hamburger">
    <div class="navbar--hamburger-bar top"></div>
    <div class="navbar--hamburger-bar middle"></div>
    <div class="navbar--hamburger-bar bottom"></div>
</div>
<div class="navbar--product-dropdown" id="navbar--dropdown">
    <div class="navbar--current-product">
      {{ if not .IsHome }}
        {{$current := . }}
        {{ if (or .IsPage (eq .Kind "section")) }}
          {{ range $product := .Site.Menus.products }}
            {{ range $version := (index $.Site.Data.versions $product.Identifier) }}
              {{ if in $current.Permalink (print "/" $product.Identifier "/" $version "/") }}
                {{$product.Name}} {{$version}}
              {{end}}
            {{end}}
          {{end}}
        {{end}}
      {{ else }}
        Select a component
      {{ end }}
    </div>
    <div class="navbar--product-dropdown-caret"><span class="icon arrow-down"></span></div>
</div>
<div class="navbar--product-container" id="navbar--product-container">
    <div class="navbar--dropdown-dismiss" id="navbar--dropdown-dismiss"></div>
    <ul class="navbar--product-menu" id="navbar--product-menu">
      {{ range .Site.Menus.products }}
        <li><a class="navbar--product" href="{{ .URL }}">
          {{ .Name }}
        </a></li>
      {{ end }}
    </ul>
</div>
