<div class="navbar--search" id="navbar--search">
	{{ $current := . }}
	{{ if or $.IsHome (in $current.RelPermalink "/platform/") }}
		<input class="navbar--search-field" id="algolia-search-input" type="text" accesskey="s" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" dir="auto" placeholder="Search the docs...">
	{{ end }}
	{{ range $product := .Site.Menus.products }}
		{{- $productID := index (findRE "[^/]+.*?" $current.RelPermalink) 0 -}}
		{{- $version := index (findRE "[^/]+.*?" $current.RelPermalink) 1 -}}
		{{- $latestVersion := index $.Site.Data.default_versions (print $productID "_semver") -}}
		{{ if in $current.RelPermalink (print "/" $product.Identifier "/" $version) }}
			{{ if eq $version $latestVersion }}
				<input class="navbar--search-field" id="algolia-search-input" type="text" accesskey="s" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" dir="auto" placeholder="Search the docs...">
			{{ else }}
				<input class="navbar--search-field" id="algolia-search-input" type="text" accesskey="s" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" dir="auto" placeholder="Search the {{$product.Name}} {{$version}} docs...">
			{{end}}
		{{end}}
	{{end}}
</div>
