<div class="product-sidebar" id="product-sidebar">
    <div class="product-sidebar--section-title">Introduction</div>
    <section class="product-sidebar--section">
        <a class="product-sidebar--page" href="#">Overview</a>
        <a class="product-sidebar--page" href="#">Installation</a>
        <a class="product-sidebar--page" href="#">Getting Started</a>
    </section>

    <div class="product-sidebar--section-title">Versions</div>
    <section class="product-sidebar--section">
        <a class="product-sidebar--page" href="#">v0.9 (Current)</a>
        <a class="product-sidebar--page" href="#">v0.8</a>
        <a class="product-sidebar--page" href="#">v0.7</a>
        <a class="product-sidebar--page" href="#">v0.6</a>
    </section>
</div>
