{{partial "header.html" . }}
<div class="error-page">
    <div class="error-content">
    	<p>We've heard legends of this page since we were young, but no one has ever seen it; some question whether it even exists. Those who refused to give up searching fell to madness, hearing the same number over and over in their restless sleep. For years we tried to decipher the number, to unlock whatever hidden meaning lie within, but we still have nothing. Perhaps it's your time to take a crack at the number:</p>
    	<h1>404</h1>
    </div>
</div>
{{ partial "footer.html" . }}
