{{ partial "header.html" . }}
<div class="homepage">
  {{ partial "archive-notice.html" }}
	<div class="cards-oss">

	{{ range .Site.Data.home_cards.cards }}
		{{ if eq .category "oss" }}
		<div class="homepage--card card-{{ .id }}">
			<div class="homepage--card-container">
        <a class="homepage--card-title" href="/{{ .id }}/">{{ .title }}</a>
				<div class="homepage--card-description">
          <p>{{ .description }}</p>
          <ul>
            {{ $project := .id }}
            {{ range sort (index $.Site.Data.versions .id) "value" "desc" }}
  						<li><a href="/{{ $project }}/{{ . }}">{{ . }}</a></li>
  					{{ end }}
          </ul>
        </div>
			</div>
		</div>
		{{ end }}
	{{ end }}

  </div>

  <div class="cards-enterprise">
  {{ range .Site.Data.home_cards.cards }}
  	{{ if eq .category "enterprise" }}
    <div class="homepage--card card-{{ .id }}">
      <div class="homepage--card-container">
        <a class="homepage--card-title" href="/{{ .id }}/">{{ .title }}</a>
        <div class="homepage--card-description">
          <p>{{ .description }}</p>
          <ul>
            {{ $project := .id }}
            {{ range sort (index $.Site.Data.versions .id) "value" "desc" }}
              <li><a href="/{{ $project }}/{{ . }}">{{ . }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  	{{ end }}
  {{ end }}
  </div>

</div>

{{ partial "footer.html" . }}
