{{ partial "header.html" . }}
<div class="homepage">
	{{ range .Site.Menus.products }}
		{{ if or (eq .Identifier "telegraf") (eq .Identifier "influxdb") (eq .Identifier "chronograf") (eq .Identifier "kapacitor") (eq .Identifier "enterprise_influxdb") }}
			<div class="homepage--card card-{{ .Name }}">
				<div class="homepage--card-container">
					{{ if or (eq .Identifier "telegraf") (eq .Identifier "influxdb") (eq .Identifier "chronograf") (eq .Identifier "kapacitor") }}
					  <a class="homepage--card-title" href="{{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/">{{ .Name }}</a>
					{{ end }}
					{{ if eq .Identifier "enterprise_influxdb" }}
					  <a class="homepage--card-title" href="">Enterprise</a>
					{{ end }}
					<p class="homepage--card-description">
						{{ if eq .Identifier "telegraf" }}
							Telegraf is InfluxData's open source plugin-driven server agent for collecting and reporting metrics.
						{{ end }}
						{{ if eq .Identifier "influxdb" }}
							InfluxDB is InfluxData's open source time series database built from the ground up to handle high write and query loads.
						{{ end }}
						{{ if eq .Identifier "chronograf" }}
							Chronograf is InfluxData's open source web application for infrastrucutre monitoring, alert management, data visualization, and database management.
						{{ end }}
						{{ if eq .Identifier "kapacitor" }}
							Kapacitor is InfluxData's open source data processing framework that makes it easy to create alerts, run ETL jobs and detect anomalies.
						{{ end }}
						{{ if eq .Identifier "enterprise_influxdb" }}
							InfluxData's enterprise products offer closed source extensions to the open source components of the TICK stack.
						{{ end }}
						{{ if or (eq .Identifier "telegraf") (eq .Identifier "influxdb") (eq .Identifier "chronograf") (eq .Identifier "kapacitor") }}
							<br/>
							<a class="homepage--card-link" href="https://influxdata.com/downloads/#{{ .Identifier }}" target=blank>Download</a>
							<br/>
							<a class="homepage--card-link" href="{{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/introduction/getting_started/">Getting Started</a>
							<br/>
							{{ if or (eq .Identifier "influxdb") (eq .Identifier "chronograf") }}
								<a class="homepage--card-link" href="{{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/troubleshooting/frequently-asked-questions/">FAQ</a>
								<br/>
							{{ end }}
							<a class="homepage--card-link" href="{{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/">All Documentation</a>
						{{ end }}
						{{ if eq .Identifier "enterprise_influxdb" }}
							<br/>
							<a class="homepage--card-link" href={{ .URL }}{{ index $.Site.Data.default_versions (print .Identifier "_semver") }}/>Enterprise InfluxDB On Premises</a>
							<br/>
						  <a class="homepage--card-link" href=/enterprise_kapacitor/{{ index $.Site.Data.default_versions (print "enterprise_kapacitor" "_semver") }}/>Enterprise Kapacitor</a>
						  <br/>
						{{ end }}
					</p>
				</div>
				<div class="homepage--card-mask"></div>
			</div>
		{{ end }}
	{{ end }}
</div>
{{ partial "footer.html" . }}
