{{ if not (or (in .RelPermalink .Site.Data.default_versions.enterprise_semver) (eq .RelPermalink "/enterprise/")) }}
<div class="old-version">
{{ if in .RelPermalink "v0.12"}}
    <strong>Warning!</strong> This page documents an old version of Enterprise, which is no longer actively developed. <a href="/enterprise/{{ .Site.Data.default_versions.enterprise_semver }}/{{ if isset .Params "newversionredirect" }}{{ .Params.newversionredirect }}{{else}}{{ substr .RelPermalink 16 }}{{end}}">Enterprise {{ .Site.Data.default_versions.enterprise_semver }}</a> is the most recent stable version of Enterprise.
{{ else if in .RelPermalink "v1.0"}}
    <strong>Warning!</strong> This page documents Enterprise version 1.0-beta. <a href="/enterprise/{{ .Site.Data.default_versions.enterprise_semver }}/{{ if isset .Params "newversionredirect" }}{{ .Params.newversionredirect }}{{else}}{{ substr .RelPermalink 15 }}{{end}}">Enterprise {{ .Site.Data.default_versions.enterprise_semver }}</a> is the most recent stable version of Enterprise.
{{ else }}
    <strong>Warning!</strong> This page documents an old version of Enterprise, which is no longer actively developed. <a href="/enterprise/{{ .Site.Data.default_versions.enterprise_semver }}/">Enterprise {{ .Site.Data.default_versions.enterprise_semver }}</a> is the most recent stable version of Enterprise.
{{ end }}
</div>
{{ end }}
