{{ $show := .Get "show" | default "all" }}

{{ if eq $show "all" }}
	{{ .Scratch.Set "pages" (union .Page.Pages .Page.Sections) }}
{{ else if (eq $show "sections") }}
	{{ .Scratch.Set "pages" .Page.Sections }}
{{ else if (eq $show "pages") }}
	{{ .Scratch.Set "pages" (where .Site.Pages "Kind" "page") }}
{{ end }}

{{ $pages := .Scratch.Get "pages" }}

{{ range $pages.ByWeight }}
	{{ $id := replaceRE "[^a-z0-9]" "-" (lower .Title) }}
	<h2 id='#{{ $id }}'><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
	<p>
		{{- if .Description }}{{- .Description | markdownify -}}
		{{ else }}{{- .Summary | markdownify -}}
		{{ end -}}
	</p>
{{ end }}
