/*

	INDIVIDUAL ARTICLE

	____________________________________________________________

	Notes:
	-	Typography uses a type scale of 1.3
	-	I've made use of EMs such that you can proportionally scale the type
		by changing the font size on .page using REMs as the unit


*/

::selection {
	background-color: @default-selection-bg;
	color: @default-selection-text; /* WebKit/Blink Browsers */
}
::-moz-selection {
	background-color: @default-selection-bg;
	color: @default-selection-text; /* Gecko Browsers */
}
a {
	text-decoration: none;
	transition: color 0.2s ease;

	&:hover {
		cursor: pointer;
	}
}

.article {
	background-color: @article-bg;
	position: fixed;
	overflow: auto;
	height: ~"calc(100% - "@sidebar--toggle-height~" - "@nav-height~")";
	width: 100%;

	&::-webkit-scrollbar { background-color: @article-bg; width: @scrollbar-width; }
	&::-webkit-scrollbar-track { background-color: @article-bg; }
	&::-webkit-scrollbar-thumb { border: 4px solid @article-bg; background-color: @article-scrollbar; border-radius: @scrollbar-width/2; }

}
.article-section {
	display: block;
	width: 100%;
	text-align: center;
	padding: 2rem;

	&.article-heading {
		background-color: @article-bg-heading;
		background-position: center center;
		background-size: cover !important;
		background-repeat: no-repeat;
		position: relative;

		h1 {
			margin-bottom: 0;
		}
	}

	&.article-footer {
		.gradient-v(@article-bg-footer,@article-bg);
	}
}
.article-content {
	display: inline-block;
	text-align: left;
	margin: 0 auto;
	width: 100%;
	color: @article-text;

	a:link,
	a:active,
	a:visited {
		font-weight: 700;
		color: @default-link-color;
	}
	a:hover {
		color: @default-link-hover;
		cursor: pointer;
	}

	> * {
		text-decoration: none;
	}
	h1,
	h2,
	h3,
	h4,
	p,
	ul,
	ol,
	li,
	blockquote,
	dt,
	pre {
		display: block;
		margin-bottom: @margin-bottom-base;
		line-height: 1.45em;
	}
	table {
		margin-bottom: @margin-bottom-base;
	}

	/* Headings */
	h1,h2,h3,h4 {
		width: 100%;
		color: @article-text-heading;

		/* Offset trick to prevent anchors being obscured by the navbar */
		a.offset-anchor {
			display: block;
			position: relative;
			top: -120px;
			visibility: hidden;
		}

		/* Maintain heading styles when anchors are present */
		a:link,
		a:active,
		a:visited,
		a:hover {
			text-decoration: none;
			font-weight: inherit;
			color: @article-text-heading !important;
		}
		&:first-child {
			margin-top: 0;
		}
	}
	h1 {
		font-size: @heading1Size;
		.klavika-font;
		line-height: 1.2em;
	}
	h2 {
		font-size: @heading2Size;
		font-weight: 600;
		padding-bottom: 0.25em;
		margin-top: 1.5em;
		border-bottom: 2px solid @article-line-color;
	}
	h3 {
		font-size: @heading3Size;
		font-weight: 400;
	}
	h4 {
		font-size: @heading4Size;
		font-weight: 400;
	}

	&.section-landing{
		h2 a.off-page:link:hover {
			color: @default-link-color !important;
		}
	}

	/* Markdown Elements */
	p {
		font-size: 1em;
	}
	ol,ul {
		font-size: 1em;
		padding-left: 1.125em;

		li {
			display: list-item;;
			list-style-position: outside;
			padding-left: 0.5em;
		}
		p {
			margin-left: 0;
		}
	}
	ul > li {
		list-style-type: disc !important;
	}
	ol li,
	ul ol li {
		list-style-type: decimal;
	}
	ol ol li {
		list-style-type: lower-alpha;
	}
	ol ol ol li {
		list-style-type: decimal;
	}
	ul ul ul li {
		list-style-type: square;
	}
	li:last-child {
		margin-bottom: 0;
	}
	ol ol,
	ul ul,
	ol ul,
	ul ol {
		width: 100%;
		margin-left: 0;
		margin-bottom: 0;
		margin-top: 1.25em;
	}
	hr {
		width: 100%;
		height: 2px;
		margin-top: 0.25em;
		margin-bottom: 1em;
		border: none;
		display: block;
		background-color: @article-line-color;
	}
	img {
		width: 100%;
		height: auto;
		border-radius: @radius;
	}
	table {
		background-color: @article-bg;
	}
	td,
	th {
		border: @border-small-screen solid @article-line-color;
		font-size: 0.875em;
		line-height: 1.2em;
		padding: 0.75em 1.5em;
	}
	tr:nth-child(even) {
		background-color: @article-bg-darken;
	}
	thead {
		tr {
			background-color: @article-bg-highlight !important;
		}
		th {
			padding: 1.25em 1.5em;
		}
	}
	/* Notes <blockquote> and Gotchas <dt> */
	dt,
	blockquote {
		font-size: @smallTextSize;
		padding: 1em 1.5em;
		border-radius: @radius;
		border-style: solid;
		border-left-width: @thick-left-border;

		pre,h4,p,ol,ul {
			width: 100%;
			margin-left: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
		.tooltip {
			color: @article-tooltip-nested;
		}
	}
	blockquote {
		font-style: italic;
		color: @article-note-text;
		border-color: @article-note-border;
		background-color: @article-note-bg;
	}
	dt {
		color: @article-gotcha-text;
		border-color: @article-gotcha-border;
		background-color: @article-gotcha-bg;
	}
	/* Inline Code & Code Blocks */
	code {
		font-family: Consolas, "Lucida Console", Monaco, monospace;
		-moz-tab-size: 1;
		-o-tab-size: 1;
		tab-size: 1;
		direction: ltr;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		font-size: @tinyTextSize !important;
		font-style:normal !important;
		display: inline;
		border-radius: @radius;
		border-width: @border-small-screen;
		border-color: @article-code-border;
		border-style: solid;
		padding: 0.1em 0.5em;
		position: relative;
		top: -0.1em;
		-webkit-font-smoothing: subpixel-antialiased !important;
		-moz-osx-font-smoothing: auto !important;
		font-weight: 400 !important;
		color: @article-code-color;
		background-color: @article-code-bg;
	}
	pre {
		display: block;
		padding: 0.75em 1em;
		overflow: auto;
		border-radius: @radius;
		border-style: solid;
		border-width: @border-small-screen @border-small-screen @border-small-screen @thick-left-border;
		background-color: @article-code-bg;
		border-color: @article-code-border;
    position: relative;
    z-index: 99;
		line-height: 1.1em !important;

		code {
			white-space: pre;
			word-spacing: normal;
			word-break: normal;
			border: none;
			padding: 0;
			border-radius: 0;
			background-color: transparent;
		}

		&::-webkit-scrollbar { background-color: @article-code-bg;width: @scrollbar-width; }
		&::-webkit-scrollbar-track { background-color: @article-code-bg; }
		&::-webkit-scrollbar-thumb {
			border: 4px solid @article-code-bg;
			background-color: @article-code-scrollbar;
			border-radius: calc(@scrollbar-width / 2);
		}
	}
}

//
// Tooltips
// --------------------------------------------------
.tooltip {
	position: relative;
	display: inline-block;
	z-index: 10;
	font-weight: 900;
	color: @article-tooltip;
}
.tooltip-container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: visible;
	visibility: hidden;
}
.tooltip-text {
	font-weight: 600;
	line-height: 2em;
	height: 2em;
	position: absolute;
	border-radius: @radius;
	padding: 0 0.75em;
	font-size: 0.9rem;
	left: 50%;
	transform: translate(-50%,-1.875rem);
	transition: all 0.2s ease;
	white-space: nowrap;
	opacity: 0;
	font-style: normal !important;
	color: @article-tooltip-text;
	background-color: @article-tooltip-bg;
}
.tooltip-text:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -14px;
	transform: translateX(-50%);
	border-top: 8px solid @article-tooltip-bg;
	border-right: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid transparent;
}
.tooltip:hover .tooltip-container {
	visibility: visible;
}
.tooltip:hover .tooltip-text {
	opacity: 1;
	transform: translate(-50%,-2rem);
}

//
// Old Version Warning
// --------------------------------------------------
.old-version {
	width: 100%;
	display: inline-block;
	border-radius: @radius;
	font-size: 1em;
	line-height: 1.25em;
	padding: 1.5em 1.5em 1.5em 4em;
	color: @old-version-text;
	background-color: @old-version-bg;
	position: relative;
	margin-bottom: 1em;

	&:after {
		content: "\ea0a";
		font-family: 'icomoon';
		position: absolute;
		top: 50%;
		left: 2em;
		transform: translate(-50%,-50%) scale(1.5,1.5);
		font-size: 1em;
	}
}

//
// Landing Page h2s
// --------------------------------------------------
.section-landing{
	h2.no-paragraph {
		margin: 0 0 1rem;
		border: none;
	}
	a.off-page:link:after {
		content: '\ea43';
		font-family: 'icomoon';
		font-size: 1rem;
		font-weight: normal;
		vertical-align: bottom;
		display: inline;
		margin-left: .5rem;
		opacity: .25;
		transition: color 0.2s ease;
		color: @default-text-color;
	}
}

//
// View in Chronograph Button
// --------------------------------------------------
.view-in-chronograf {
	display: flex;
	justify-content: flex-end;
	position: relative;
	background-color: @article-code-border;
	margin-top: -1.1rem;
	margin-bottom: 1rem;
	padding: .15rem;
	font-size: .8rem;
	border-radius: 0 0 @radius @radius;
	align-items: center;

	.chronograf-btn {
		display: inline-block;
		padding: .45rem .6rem;
		color: #fff !important;
		background: linear-gradient(to left, @chronograf-dropdown-gradient-a, @c-pool);
		border-radius: calc(~""@radius~" / 2");
		transition: all .5s ease;

		&:after {
			content: '\e801';
			margin-left: .4rem;
			font-family: 'icomoon';
		}

		&:hover {
			color: #fff !important;
			opacity: 1;
		}
	}

	.settings {
		opacity: .25;
		color: @article-text !important;
		margin-right: .75em;
		transition: opacity .2s ease;

		&:hover {
			opacity: 1;
		}
	}
}

// Modal Styles
.modal-overlay {
	display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
	opacity: .75;
  background: linear-gradient(@chronograf-dropdown-gradient-a, @chronograf-dropdown-gradient-b)
}

.modal-content {
	display: none;
	background: @article-bg;
	padding: 2rem 2rem 1.5rem;
	border-radius: @radius;
	position: fixed;
	top: 10vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1001;
	width: 90vw;
	max-width: 38rem;
	transition: top .4s ease;

	&.open {
		top: 40vh;
	}

	input {
		width: 100%;
		min-width: 10rem;
		border-radius: @radius;
		border: 2px solid @modal-input-bg;
		background-color: @modal-input-bg;
		padding: .5rem;
		font-weight: 400;
		font-size: 1rem;
		outline: none;
		transition:
			border-color 0.3s ease,
			color 0.3s ease;
		&:focus {
			border-color: @nav-search-border-focus;
		}
	}

	button {
		border: none;
		outline: none;
		&:focus {
			background: @chronograf-dropdown-gradient-b !important;
		}
	}

	label {
		display: block;
		margin-bottom: .4rem;
		font-weight: 600;
	}
}

#default-chronograf-url {
	display: inline-block;
	margin: .5rem 0 0 .25rem;
	font-size: .8rem;
	font-style: italic;
	font-weight: 400;

	&:hover {
		text-transform: underline;
	}
}

.flex-form {
	display: flex;
	justify-content: space-between;

	.save-btn {
		width: 5.5rem;
		margin: 0 0 0 .25rem;
		text-align: center;
		padding: .75rem 1rem;
		color: #fff;
		border-radius: @radius;
		font-weight: 600;
		transition: background .2s;
	}
}

//
// Chronograf modal media queries
// --------------------------------------------------
@media (max-width: 500px) {
	.flex-form {
		flex-flow: column;
		.save-btn {
			width: 100%;
			margin: .25rem 0 0;
		}
	}
	#default-chronograf-url {
		display: block;
		margin: 1rem auto 0;
	}
}

#save-chronograf-url button {
	background: @chronograf-link;
	&:hover {
		background: @chronograf-dropdown-gradient-b;
	}
}

//
// Media Queries
// --------------------------------------------------
@media (min-width: @breakpoint-small) {
	.article {
		padding-left: @sidebar-small-width;
		height: ~"calc(100% - "@nav-height~")";
	}
	.article-section {
		padding: 3rem;
	}
	.article-content {
		dt,
		blockquote,
		pre,
		p,
		ol,
		ul,
		.view-in-chronograf,
		.vertical-tabs-container {
			width: ~"calc(100% - "@indented-element-size~")";
			margin-left: @indented-element-size;
		}
		table {
			margin-left: @indented-element-size;
		}
		code,
		pre,
		td,
		th {
			border-width: @border-large-screen;
		}
		pre {
			border-left-width: @thick-left-border;
		}
	}
}
@media (min-width: @breakpoint-large) {
	.article {
		padding-left: @sidebar-large-width;
	}
	.article-section {
		padding: 5rem;
	}
	.old-version {
		width: 60%;
	}
}
@media (min-width: @breakpoint-huge) {
	.article {
		padding-left: @sidebar-huge-width;
	}
	.article-section {
		padding: 5rem 11rem;
	}
	.article-content {
		font-size: 1.125rem;
	}
}
