/*

	HOME

	____________________________________________________________

	Notes:
	-	Simple index view with links to the different products

*/
.homepage {
	overflow: auto;
  padding-bottom: 3rem;
	width: 100%;
	z-index: 2;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

	.cards-special, .cards-oss, .cards-enterprise {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		flex: 1 0;
	}

	&--card {
		width: 100%;
		display: inline-block;
		overflow: hidden;
		position: relative;

		&-container {
			position: relative;
			z-index: 2;
			width: 100%;
			display: inline-block;
			text-align: center;
			padding: 2.5rem 2rem 0;
			font-size: 0;

			a:link,
			a:active,
			a:visited {
				transition: color 0.25s ease;
				text-decoration: none;
			}
			a:hover {
				color: @default-link-hover;
			}
		}
		&-title,
		&-description {
			text-align: left;
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
		&-title {
			font-size: 2rem;
			font-family: Klavika-Light, sans-serif;
			font-weight: 200;
			font-style: italic;
			color: @sidebar-title-color;
			margin-bottom: 0.5em;
		}
		&-description {
			font-size: 1rem;
			color: @article-text;
			line-height: 1.4em;
			font-weight: 400;

      ul { margin-top: 1rem; }
		}
		&-link {
			display: inline-block;
			font-size: 0.875rem;
			font-weight: 600;
			margin-left: 0.25rem;
			padding: 2px 11px;
			border-radius: 3px;

			&:first-of-type {
				margin-top: 1rem;
			}
		}

		// Themes

    li a {
      color: @article-text;
      font-weight: bold;
      font-size: .95rem;
      transition:	color 0.25s;
    }

		&.card-telegraf {
			.homepage--card-title { color: @c-dreamsicle; }
			li a:hover { color: @c-dreamsicle; }
		}
		&.card-influxdb {
			.homepage--card-title { color: @c-ocean; }
			li a:hover { color: @c-ocean; }
		}
		&.card-chronograf {
			.homepage--card-title { color: @c-comet; }
  		li a:hover { color: @c-comet; }
		}
		&.card-kapacitor {
			.homepage--card-title { color: @c-viridian; }
			li a:hover { color: @c-viridian; }
		}

		&.card-enterprise_kapacitor {
			.homepage--card-title { color: @c-viridian; }
			li a:hover { color: @c-viridian; }
		}

		&.card-enterprise_influxdb {
			.homepage--card-title { color: @c-ocean; }
			li a:hover { color: @c-ocean; }
		}
	}
}

/*
	Media Queries
	--------------------------------------------------
*/
@media (min-width: @breakpoint-small) {
	.homepage--card {
		width: 50%;
		flex-grow: 1;
	}
}
@media (min-width: @breakpoint-large) {
	.homepage--card-container {
		padding: 3.25rem 3.25rem 0;
	}
	.homepage--card-description {
		font-size: 1.075rem;
	}
	.homepage--card {
		width: 25%;
		height: auto;

		&.card-platform {
			width: 50%;
		}

		&.card-enterprise_influxdb,
		&.card-enterprise_kapacitor {
			width: 50%;
		}
	}
}
@media (min-width: @breakpoint-huge) {
	.homepage--card-container {
		padding: 4rem;
	}
	.homepage--card-description {
		font-size: 1.125rem;
	}
}
